Repository vannseavlong/Budget-Managing: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: add package-lock.json for reproducible CI builds
  .gitignore
  package-lock.json
Due: prettier --write

fix: resolve critical linting errors
  apps/backend/src/controllers/transactions/getTransactionStats.ts
  apps/backend/src/middleware/security.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: Complete CI/CD pipeline fixes
  apps/backend/src/controllers/DataController.ts
  apps/backend/src/controllers/budgets/deleteBudget.ts
  apps/backend/src/controllers/budgets/updateBudget.ts
  apps/backend/src/controllers/data/createTransaction.ts
  apps/backend/src/controllers/data/deleteTransaction.ts
  apps/backend/src/controllers/data/getTransactions.ts
  apps/backend/src/controllers/goals/checkGoalProgress.ts
  apps/backend/src/middleware/security.ts
  apps/frontend/eslint.config.js
  apps/frontend/eslint.config.mjs
  apps/frontend/package.json
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: Backend tests pass when no test files exist
  apps/backend/package.json
Due: prettier --write

fix: Make security scans optional to prevent CI failures
  .github/workflows/ci-cd.yml
Due: prettier --write

security: Remove hardcoded tokens and improve Telegram setup
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/setup-telegram-ngrok.js
  apps/backend/setup-telegram.js
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

chore: telegram bot connection
  README.md
  apps/backend/.env.example
  apps/backend/setup-telegram-ngrok.js
  apps/backend/setup-telegram.js
  apps/backend/src/controllers/TelegramController.ts
  apps/backend/src/controllers/telegram/handleWebhook.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/telegram.ts
  apps/backend/src/services/GoogleSheetsService.ts
  apps/backend/src/utils/TelegramConnectionStore.ts
  apps/frontend/.env.example
  apps/frontend/app/(protected)/dashboard/page.tsx
  apps/frontend/app/(protected)/settings/page.tsx
  apps/frontend/app/auth/callback/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/common/BackendTest.tsx
  apps/frontend/components/common/TelegramConnectionCard.tsx
  apps/frontend/components/layout/Sidebar.tsx
  apps/frontend/components/layout/Topbar.tsx
  apps/frontend/eslint.config.js
  apps/frontend/hooks/useProtectedRoute.ts
  apps/frontend/lib/auth-service.ts
  apps/frontend/lib/telegram-service.ts
  apps/frontend/package.json
  docs/TELEGRAM_INTEGRATION_SETUP.md
  docs/api/API_Collection_Complete.json
  docs/api/collections/Budget-Manager-Updated-Endpoints.postman_collection.json
  docs/api/collections/Budget-Manager-Updated.postman_environment.json
  package-lock.json
  test-telegram-connection.js
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

chore: sync package-lock.json with package.json (CI)
  package-lock.json
Due: prettier --write

feat: budget api integration
  apps/backend/src/controllers/budgets/createIncome.ts
  apps/backend/src/controllers/budgets/deleteIncome.ts
  apps/backend/src/controllers/budgets/getAllBudgetItems.ts
  apps/backend/src/controllers/budgets/getBudgetItems.ts
  apps/backend/src/controllers/budgets/getIncomeSum.ts
  apps/backend/src/controllers/budgets/getIncomes.ts
  apps/backend/src/controllers/budgets/index.ts
  apps/backend/src/controllers/budgets/types.ts
  apps/backend/src/controllers/budgets/updateIncome.ts
  apps/backend/src/controllers/sheets/setupDatabaseSchema.ts
  apps/backend/src/controllers/telegram/disconnectTelegram.ts
  apps/backend/src/controllers/telegram/index.ts
  apps/backend/src/routes/budgets.ts
  apps/backend/src/routes/telegram.ts
  apps/backend/src/services/GoogleSheetsService.ts
  apps/frontend/__tests__/hooks/useCategories.test.ts
  apps/frontend/__tests__/lib/categories-service.test.ts
  apps/frontend/app/(protected)/budget/page.tsx
  apps/frontend/components/budget/MonthlyIncomeCard.tsx
  apps/frontend/components/budget/SendToTelegramButton.tsx
  apps/frontend/components/common/BudgetTable.tsx
  apps/frontend/components/common/MonthSelector.tsx
  apps/frontend/components/common/TelegramConnectionCard.tsx
  apps/frontend/components/ui/calendar.tsx
  apps/frontend/components/ui/popover.tsx
  apps/frontend/hooks/useBudget.ts
  apps/frontend/lib/api-config.ts
  apps/frontend/lib/budgets-service.ts
  apps/frontend/package.json
  package-lock.json
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: application build
  apps/frontend/next.config.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend

doc: prepare for hosting
  apps/backend/.env.production.example
  apps/frontend/components/ui/calendar.tsx
  apps/frontend/vercel.json
  docs/deployment/PRE_DEPLOYMENT_CHECKLIST.md
  docs/deployment/RENDER_VERCEL_DEPLOYMENT.md
  render.yaml
  scripts/render-build.sh
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend

fix: use BACKEND_URL for OAuth redirect
  apps/backend/.env.production.example
  apps/backend/src/services/GoogleSheetsService.ts
  docs/deployment/OAUTH_CALLBACK_FIX.md
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

doc: privacy policy and term of service
  apps/frontend/app/privacy/page.tsx
  apps/frontend/app/terms/page.tsx
  docs/deployment/GOOGLE_APP_VERIFICATION.md
  docs/deployment/OAUTH_CALLBACK_FIX.md
  docs/deployment/QUICK_FIX_LOCALHOST_REDIRECT.md
  docs/legal/PRIVACY_POLICY.md
  docs/legal/TERMS_OF_SERVICE.md
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend

otp integrate
  apps/backend/.env.example
  apps/backend/.env.production
  apps/backend/create-otp-sheets.js
  apps/backend/migrations/001_init.cjs
  apps/backend/migrations/002_add_hmac_columns.cjs
  apps/backend/migrations/003_add_refresh_token.cjs
  apps/backend/package.json
  apps/backend/pnpm-lock.yaml
  apps/backend/src/controllers/auth/handleCallback.ts
  apps/backend/src/controllers/otp-auth.ts
  apps/backend/src/controllers/settings/types.ts
  apps/backend/src/controllers/sheets/schemaMigration.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/otp-auth.ts
  apps/backend/src/routes/sheets.ts
  apps/backend/src/scripts/setup-otp-sheets.ts
  apps/backend/src/services/google-sheets-otp-adapter.ts
  apps/backend/src/services/googleSheets/database.ts
  apps/backend/src/services/googleSheets/index.ts
  apps/backend/src/services/googleSheets/schema-migration.ts
  apps/backend/src/services/googleSheets/schema-versions.ts
  apps/backend/src/services/otp-auth-service.ts
  apps/frontend/app/(auth)/signup/page.tsx
  apps/frontend/app/(protected)/settings/page.tsx
  apps/frontend/components/common/login-card.tsx
  apps/frontend/components/common/signup-card.tsx
  apps/frontend/lib/otp-auth-service.ts
  docs/OTP_SHEETS_STRUCTURE.md
  docs/OTP_TELEGRAM_INTEGRATION.md
  docs/OTP_TELEGRAM_SETUP.md
  docs/SCHEMA_MIGRATION.md
  docs/SCHEMA_UPDATE_GUIDE.md
  package-lock.json
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

Migrate monorepo from npm to pnpm and fix backend TS errors
  .github/workflows/ci-cd.yml
  README.md
  apps/backend/Dockerfile
  apps/backend/package.json
  apps/backend/pnpm-lock.yaml
  apps/backend/src/controllers/otp-auth.ts
  apps/backend/src/routes/auth.ts
  apps/backend/src/routes/budgets.ts
  apps/backend/src/routes/categories.ts
  apps/backend/src/routes/data.ts
  apps/backend/src/routes/goals.ts
  apps/backend/src/routes/settings.ts
  apps/backend/src/routes/sheets.ts
  apps/backend/src/routes/telegram.ts
  apps/backend/src/routes/transactions.ts
  apps/backend/src/services/googleSheets/endpoints/telegram/getConnectionStatusService.ts
  apps/backend/tsconfig.json
  apps/frontend/Dockerfile
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/deploy-production.sh
  scripts/render-build.sh
  setup.ps1
  setup.sh
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

Fix pnpm audit failures blocking CI security-scan job
  apps/backend/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

Fix Vercel deploy: vercel.json still hardcoded npm commands
  apps/frontend/vercel.json
Due: prettier --write

Add pnpm setup to deploy-production CI job
  .github/workflows/ci-cd.yml
Due: prettier --write

Remove redundant security:audit gate from deploy-production.sh
  scripts/deploy-production.sh
Due: none

Fix categories-service network error message and jest config typo
  apps/frontend/jest.config.js
  apps/frontend/lib/categories-service.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend

Remove dead googleSheets Service wrappers superseded by lsdb migration
  TODO.md
  apps/backend/src/services/googleSheets/endpoints/budgets/createBudgetItemService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/createBudgetService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/createIncomeService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/deleteBudgetItemService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/deleteBudgetService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/deleteIncomeService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/getAllBudgetItemsService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/getBudgetItemsService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/getBudgetsService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/getIncomeSumService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/getIncomesService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/updateBudgetItemService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/updateBudgetService.ts
  apps/backend/src/services/googleSheets/endpoints/budgets/updateIncomeService.ts
  apps/backend/src/services/googleSheets/endpoints/goals/checkGoalProgressService.ts
  apps/backend/src/services/googleSheets/endpoints/goals/createGoalService.ts
  apps/backend/src/services/googleSheets/endpoints/goals/deleteGoalService.ts
  apps/backend/src/services/googleSheets/endpoints/goals/getGoalsService.ts
  apps/backend/src/services/googleSheets/endpoints/goals/updateGoalService.ts
  apps/backend/src/services/googleSheets/endpoints/telegram/sendMessageService.ts
  apps/backend/src/services/googleSheets/endpoints/transactions/getTransactionStatsService.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

Remove dead /api/v1/data/* legacy CRUD API and its dependents
  TODO.md
  apps/backend/src/controllers/data/createAccount.ts
  apps/backend/src/controllers/data/createCategory.ts
  apps/backend/src/controllers/data/createTransaction.ts
  apps/backend/src/controllers/data/deleteAccount.ts
  apps/backend/src/controllers/data/deleteCategory.ts
  apps/backend/src/controllers/data/deleteTransaction.ts
  apps/backend/src/controllers/data/getAccounts.ts
  apps/backend/src/controllers/data/getCategories.ts
  apps/backend/src/controllers/data/getDashboard.ts
  apps/backend/src/controllers/data/getTransactions.ts
  apps/backend/src/controllers/data/index.ts
  apps/backend/src/controllers/data/types.ts
  apps/backend/src/controllers/data/updateAccount.ts
  apps/backend/src/controllers/data/updateCategory.ts
  apps/backend/src/controllers/data/updateTransaction.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/data.ts
  apps/backend/src/services/googleSheets/endpoints/categories/deleteCategoryService.ts
  apps/backend/src/services/googleSheets/endpoints/categories/getCategoriesService.ts
  apps/backend/src/services/googleSheets/endpoints/data/createAccountService.ts
  apps/backend/src/services/googleSheets/endpoints/data/createCategoryService.ts
  apps/backend/src/services/googleSheets/endpoints/data/createTransactionService.ts
  apps/backend/src/services/googleSheets/endpoints/data/deleteAccountService.ts
  apps/backend/src/services/googleSheets/endpoints/data/getAccountsService.ts
  apps/backend/src/services/googleSheets/endpoints/data/getCategoriesService.ts
  apps/backend/src/services/googleSheets/endpoints/data/getDashboardService.ts
  apps/backend/src/services/googleSheets/endpoints/data/getTransactionsService.ts
  apps/backend/src/services/googleSheets/endpoints/data/updateAccountService.ts
  apps/backend/src/services/googleSheets/endpoints/data/updateCategoryService.ts
  apps/backend/src/services/googleSheets/endpoints/data/updateTransactionService.ts
  apps/backend/src/services/googleSheets/endpoints/transactions/createTransactionService.ts
  apps/backend/src/services/googleSheets/endpoints/transactions/deleteTransactionService.ts
  apps/backend/src/services/googleSheets/endpoints/transactions/getTransactionsService.ts
  apps/backend/src/services/googleSheets/endpoints/transactions/updateTransactionService.ts
  apps/frontend/lib/api-config.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

clean up are move to lsdb
  .gitignore
  TODO.md
  apps/backend/.env.example
  apps/backend/lsdb.config.ts
  apps/backend/schemas
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

workflow change
  .claude/settings.json
  apps/frontend/Dockerfile
  docker-compose.yml
  render.yaml
Due: prettier --write

feat: skip some ci job
  .github/workflows/ci-cd.yml
Due: prettier --write

feat: fix ci
  .claude/settings.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

remove otp telegram
  .claude/settings.json
  CLAUDE.md
  apps/backend/.env.example
  apps/backend/create-otp-sheets.js
  apps/backend/migrations/001_init.cjs
  apps/backend/migrations/002_add_hmac_columns.cjs
  apps/backend/migrations/003_add_refresh_token.cjs
  apps/backend/package.json
  apps/backend/src/controllers/auth/handleCallback.ts
  apps/backend/src/controllers/otp-auth.ts
  apps/backend/src/index.ts
  apps/backend/src/routes/otp-auth.ts
  apps/backend/src/scripts/setup-otp-sheets.ts
  apps/backend/src/services/google-sheets-otp-adapter.ts
  apps/backend/src/services/otp-auth-service.ts
  apps/frontend/components/common/login-card.tsx
  apps/frontend/components/common/signup-card.tsx
  apps/frontend/lib/otp-auth-service.ts
  docker-compose.yml
  docs/OTP_SHEETS_STRUCTURE.md
  docs/OTP_TELEGRAM_INTEGRATION.md
  docs/OTP_TELEGRAM_SETUP.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

new plan
  .claude/settings.json
  CLAUDE.md
  TODO.md
  docs/BACKEND_REBUILD_PLAN.md
  docs/PROJECT_OVERVIEW.md
Due: prettier --write

new backend checkup
  apps/backend/Dockerfile
  apps/backend/ER-DIAGRAM.md
  apps/backend/package.json
Due: prettier --write

new backend checkup
  .claude/settings.json
  .github/workflows/ci-cd.yml
  docker-compose.yml
  docs/USER_FLOW.md
Due: prettier --write

fix: surface backend startup logs and crashes in production
  apps/backend/src/index.ts
  apps/backend/src/utils/logger.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: remove Redis dependency, fix Google login hanging forever
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/controllers/auth/googleCallback.ts
  apps/backend/src/services/auth/tokenStore.ts
  apps/backend/src/services/redisClient.ts
  apps/backend/src/services/sheetDb/adapter.ts
  docker-compose.yml
  pnpm-lock.yaml
  render.yaml
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: run createUserSheet under admin context to fix PermissionError
  apps/backend/src/controllers/auth/googleCallback.ts
  apps/backend/src/controllers/auth/register.ts
  apps/backend/src/services/sheetDb/adminStats.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: stop re-running schema-version check on every request
  apps/backend/src/services/sheetDb/userContext.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/backend, npm run type-check --workspace=apps/backend

fix: unify auth state into a shared context, add dashboard skeleton
  apps/frontend/app/(protected)/dashboard/page.tsx
  apps/frontend/app/auth/callback/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/components/common/DashboardSkeleton.tsx
  apps/frontend/components/ui/skeleton.tsx
  apps/frontend/contexts/AuthContext.tsx
  apps/frontend/hooks/useAuth.ts
Due: eslint --fix, prettier --write, npm run lint:fix --workspace=apps/frontend, npm run type-check --workspace=apps/frontend

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  npm run lint:fix --workspace=apps/frontend: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  npm run type-check --workspace=apps/frontend: any of: apps/frontend/**/*.{js,jsx,ts,tsx}
  npm run lint:fix --workspace=apps/backend: any of: apps/backend/**/*.{js,ts}
  npm run type-check --workspace=apps/backend: any of: apps/backend/**/*.{js,ts}
